body {
    width: 150px;
    height: 80px;
    padding: 0px 5px;
    text-align: center;
    background-color: #22272E;
    color: #cdd9e5;
}

.option { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

